<div class="inner">
    <ul class="icons">
        <li><a href="https://x.com/?lang=en" class="icon brands alt fa-twitter"><span
                class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/" class="icon brands alt fa-facebook-f"><span
                class="label">Facebook</span></a>
        </li>
        <li><a href="https://www.instagram.com/" class="icon brands alt fa-instagram"><span
                class="label">Instagram</span></a>
        </li>
        <li><a href="https://github.com/Vrana710" class="icon brands alt fa-github"><span
                class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/varsha-rana/" class="icon brands alt fa-linkedin-in"><span
                class="label">LinkedIn</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; 2024</li>
        <li>Design: <a href="https://www.linkedin.com/in/varsha-rana/">By Varsha Rana</a></li>
    </ul>
</div>