<ul class="links">
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('movies') }}">Movies</a></li>
    <li><a href="{{ url_for('contact') }}">Contact</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
</ul>
<ul class="actions stacked">
    <li><a href="{{ url_for('signup_user') }}" class="button primary fit">Sign Up User</a></li>
    <li><a href="{{ url_for('signup_admin') }}" class="button primary fit">Sign Up Admin</a></li>
    <li><a href="{{ url_for('login') }}" class="button fit">Log In</a></li>
</ul>