<ul class="links">
    <li><a href="{{ url_for('user_bp.user_dashboard') }}">Home</a></li>
    <li><a href="{{ url_for('user_bp.my_movies') }}">My Movies</a></li>
    <li><a href="{{ url_for('user_bp.user_favorites') }}">My Favorites</a></li>
    <li><a href="{{ url_for('user_bp.user_add_movie') }}">Add Movie</a></li>
    <li><a href="{{ url_for('user_bp.user_profile') }}">Profile</a></li>
</ul>
<ul class="actions stacked">
    <li><a href="{{ url_for('logout') }}" class="button primary fit">Log Out</a></li>
</ul>