<!DOCTYPE HTML>
<html>
<head>
    <title>Add Movie - MoviWeb</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../static/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="../../static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        {% include 'partials/admin_header.html' %}
    </header>

    <!-- Menu -->
    <nav id="menu">
        {% include 'partials/admin_menu.html' %}
    </nav>

    <!-- Main -->
    <div id="main">
         <!-- Flash messages -->
        <div class="messages">
            {% include 'partials/messages.html' %}
        </div>
        <section id="form">
            <div class="inner">
                <header class="major">
                    <h2>Add New Movie</h2>
                </header>
                <form action="{{ url_for('admin_bp.add_movie', admin_id=admin.id) }}" method="post">
                    <div class="fields">
                        <div class="field half">
                            <label for="title">Movie Name</label>
                            <input type="text" name="title" id="title" required/>
                        </div>
                        <div class="field half">
                            <label for="user_id">Assign to User (optional)</label>
                            <select name="user_id" id="user_id">
                                <option value="">None</option>
                                {% for user in users %}
                                <option value="{{ user.id }}">{{ user.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Add Movie" class="primary"/></li>
                    </ul>
                </form>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
        {% include 'partials/movie_web_app_footer.html' %}
    </footer>

</div>

<!-- Scripts -->
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/jquery.scrolly.min.js"></script>
<script src="../../static/js/jquery.scrollex.min.js"></script>
<script src="../../static/js/browser.min.js"></script>
<script src="../../static/js/breakpoints.min.js"></script>
<script src="../../static/js/util.js"></script>
<script src="../../static/js/main.js"></script>
<script src="../../static/js/pagination.js"></script> <!-- Add this line -->
<script src="../static/js/message.js"></script>
</body>
</html>
