<!DOCTYPE HTML>
<html>
<head>
    <title>Add User - MoviWeb</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../static/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="../../static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <a href="{{ url_for('admin_bp.admin_dashboard') }}" class="logo"><strong>MoviWeb</strong> <span>Add User</span></a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a href="{{ url_for('admin_bp.admin_dashboard') }}">Home</a></li>
            <li><a href="{{ url_for('admin_bp.add_user') }}">Add Users</a></li>
            <li><a href="{{ url_for('admin_bp.manage_users') }}">Manage Users</a></li>
            <li><a href="{{ url_for('admin_bp.add_movie') }}">Add Movies</a></li>
            <li><a href="{{ url_for('admin_bp.manage_movies') }}">Manage Movies</a></li>
            <li><a href="{{ url_for('admin_bp.reports') }}">Reports</a></li>
        </ul>
        <ul class="actions stacked">
            <li><a href="{{ url_for('logout') }}" class="button primary fit">Log Out</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <section id="form">
            <div class="inner">
                <header class="major">
                    <h2>Add New User</h2>
                </header>
                <form method="post">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" required/>
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" required/>
                        </div>
                        <div class="field">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" required/>
                        </div>
                        <div class="field half">
                            <label for="gender">Gender</label>
                            <select name="gender" id="gender">
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Non-binary">Non-binary</option>
                                <option value="Other">Other</option>
                                <option value="Prefer not to say">Prefer not to say</option>
                            </select>
                        </div>
                        <div class="field half">
                            <label for="profile_picture">Profile Picture</label>
                            <input type="file" name="profile_picture" id="profile_picture"/>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Add User" class="primary"/></li>
                    </ul>
                </form>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="https://x.com/?lang=en" class="icon brands alt fa-twitter"><span
                        class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
                </li>
                <li><a href="https://www.instagram.com/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
                </li>
                <li><a href="https://github.com/Vrana710" class="icon brands alt fa-github"><span
                        class="label">GitHub</span></a></li>
                <li><a href="https://www.linkedin.com/in/varsha-rana/" class="icon brands alt fa-linkedin-in"><span
                        class="label">LinkedIn</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; 2024</li>
                <li>Design: <a href="https://www.linkedin.com/in/varsha-rana/">By Varsha Rana</a></li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/jquery.scrolly.min.js"></script>
<script src="../../static/js/jquery.scrollex.min.js"></script>
<script src="../../static/js/browser.min.js"></script>
<script src="../../static/js/breakpoints.min.js"></script>
<script src="../../static/js/util.js"></script>
<script src="../../static/js/main.js"></script>

</body>
</html>
