<!DOCTYPE HTML>
<html>
<head>
    <title>Admin Dashboard - MoviWeb</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../static/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="../../static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        {% include 'partials/admin_header.html' %}
    </header>

    <!-- Menu -->
    <nav id="menu">
        {% include 'partials/admin_menu.html' %}
    </nav>

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>Welcome, {{ admin.name }}</h1>
            </header>
            <img src="../static/images/header_bg.jpg" class="major">
            <div class="content">
                <p>Manage users, movies, and view reports.<br/>
                    Keep your MoviWeb application running smoothly.</p>
                <ul class="actions">
                    <li><a href="{{ url_for('admin_bp.manage_users') }}" class="button next">Manage Users</a></li>
                    <li><a href="{{ url_for('admin_bp.manage_movies') }}" class="button next">Manage Movies</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">
        <!-- Flash messages -->
        <div class="messages">
            {% include 'partials/messages.html' %}
        </div>
        <section id="dashboard_reports">
            <div class="inner">
                <header class="major">
                    <h2>Reports</h2>
                </header>
                <p class="button">
                    Total Number of Users Added by Current Admin : {{ num_users }}
                </p>
                <p class="button">
                    Total Number of Movies Added by Current Admin : {{ num_movies }}
                </p>
                <p class="button">
                    Total Number of Users Currently using the App : {{ num_users_total }}
                </p>
                <p class="button">
                    Total Number of Movie Currently in the App : {{ num_movies_total }}
                </p>
                <p>
                    <a href="{{ url_for('admin_bp.all_movies_added_by_user_of_current_admin_report') }}" class="button">
                        View All Movies added by user of current admin report
                    </a>
                </p>
            </div>
        </section>
        <!-- Movie Poster -->
        <section id="three">
            <div class="inner">
                <header class="major">
                    <h2> Movies added by you</h2>
                </header>
                <div id="movie-poster-wrapper">
                    <div id="movie-poster">
                        <!-- Display unique movies -->
                        {% for movie in unique_movies %}
                        <a href="https://www.imdb.com/title/{{ movie.imdbID }}" target="_blank" class="imdb-link">
                            <img src="{{ movie.poster }}" alt="{{ movie.title }}" class="movie-poster"
                                 title="{{ movie.title }}">
                            <p>{{ movie.title }}<br>{{ movie.year }}</p>
                        </a>
                        {% endfor %}

                        <!-- Duplicate the content to create a seamless effect, only if there are 10 or more movies -->
                        {% if unique_movies|length >= 10 %}
                        {% for movie in unique_movies %}
                        <a href="https://www.imdb.com/title/{{ movie.imdbID }}" target="_blank" class="link">
                            <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" class="movie-poster"
                                 title="{{ movie.title }}">
                            <p>{{ movie.title }}<br>{{ movie.year }}</p>
                        </a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
        {% include 'partials/movie_web_app_footer.html' %}
    </footer>

</div>

<!-- Scripts -->
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/jquery.scrolly.min.js"></script>
<script src="../../static/js/jquery.scrollex.min.js"></script>
<script src="../../static/js/browser.min.js"></script>
<script src="../../static/js/breakpoints.min.js"></script>
<script src="../../static/js/util.js"></script>
<script src="../../static/js/main.js"></script>
<script src="../../static/js/pagination.js"></script> <!-- Add this line -->
<script src="../../static/js/message.js"></script>
</body>
</html>
