<!DOCTYPE HTML>
<html>
<head>
    <title>Manage Users - MoviWeb</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../static/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="../../static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        {% include 'partials/admin_header.html' %}
    </header>

    <!-- Menu -->
    <nav id="menu">
        {% include 'partials/admin_menu.html' %}
    </nav>

    <!-- Main -->
    <div id="main">
         <!-- Flash messages -->
        <div class="messages">
            {% include 'partials/messages.html' %}
        </div>
        <section id="users">
            <div class="inner">
                <header class="major">
                    <h2>Manage Users added by {{ admin.name }} </h2>
                    <a href="{{ url_for('admin_bp.manage_all_users') }}" class="button">Manage All Users</a>
                    <a href="{{ url_for('admin_bp.add_user') }}" class="button">Add User</a>
                    <label class="button">Total Users: {{ num_users }}</label>
                </header>
                {% include 'partials/manage_users_content.html' %}
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer id="footer">
        {% include 'partials/movie_web_app_footer.html' %}
    </footer>

</div>

<!-- Scripts -->
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/jquery.scrolly.min.js"></script>
<script src="../../static/js/jquery.scrollex.min.js"></script>
<script src="../../static/js/browser.min.js"></script>
<script src="../../static/js/breakpoints.min.js"></script>
<script src="../../static/js/util.js"></script>
<script src="../../static/js/main.js"></script>
<script src="../../static/js/pagination.js"></script> <!-- Add this line -->
<script src="../../static/js/pagination.js"></script> <!-- Add this line -->
<script src="../../static/js/message.js"></script>
</body>
</html>
