<!DOCTYPE HTML>
<html>
<head>
    <title>Sign Up - MoviWeb App</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="../static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
       {% include 'partials/movie_web_app_header.html' %}
    </header>

    <!-- Menu -->
    <nav id="menu">
        {% include 'partials/movie_web_app_menu.html' %}
    </nav>

    <!-- Main -->
    <div id="main">
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" id="flash-{{ loop.index }}">
                <span>{{ message }}</span>
                {% if category in ['danger', 'info'] %}
                <button class="close" onclick="this.parentElement.style.display='none';">&times</button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <section id="signup">
            <div class="inner">
                <header class="major">
                    <h2>User Sign Up</h2>
                </header>
                <form method="post" action="{{ url_for('signup_user') }}" enctype="multipart/form-data">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" required/>
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" required/>
                        </div>
                        <div class="field half">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" required/>
                        </div>
                        <div class="field half">
                            <label for="gender">Gender</label>
                            <select name="gender" id="gender">
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Non-binary">Non-binary</option>
                                <option value="Other">Other</option>
                                <option value="Prefer not to say">Prefer not to say</option>
                            </select>
                        </div>
                        <div class="field half">
                            <label for="profile_picture">Profile Picture</label>
                            <input type="file" name="profile_picture" id="profile_picture"/>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Sign Up" class="primary"/></li>
                        <li><a href="{{ url_for('login') }}"><input type="submit" value="Log In" class="primary"/></a>
                        </li>
                    </ul>
                </form>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
        {% include 'partials/movie_web_app_footer.html' %}
    </footer>

</div>

<!-- Scripts -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.scrolly.min.js"></script>
<script src="../static/js/jquery.scrollex.min.js"></script>
<script src="../static/js/browser.min.js"></script>
<script src="../static/js/breakpoints.min.js"></script>
<script src="../static/js/util.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/message.js"></script>
</body>
</html>
