<!DOCTYPE HTML>
<html>
<head>
    <title>My Movies - MoviWeb</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../static/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="../../static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        {% include 'partials/user_header.html' %}
    </header>

    <!-- Menu -->
    <nav id="menu">
        {% include 'partials/user_menu.html' %}
    </nav>

    <!-- Main -->
    <div id="main">
        <!-- My Movies -->
        <section id="my-movies">
            <div class="inner">
                <header class="major">
                    <h2>My Movies</h2>
                    <a href="{{ url_for('user_bp.user_add_movie') }}" class="button">
                        Add Movie
                    </a>
                    <label class="button">Total Movies: {{ num_movies }}</label>
                </header>
                {% include 'partials/my_movies_content.html' %}
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer id="footer">
        {% include 'partials/movie_web_app_footer.html' %}
    </footer>

</div>

<!-- Scripts -->
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/jquery.scrolly.min.js"></script>
<script src="../../static/js/jquery.scrollex.min.js"></script>
<script src="../../static/js/browser.min.js"></script>
<script src="../../static/js/breakpoints.min.js"></script>
<script src="../../static/js/util.js"></script>
<script src="../../static/js/main.js"></script>

</body>
</html>
