<!DOCTYPE HTML>
<html>
<head>
    <title>My Movies - MoviWeb</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../static/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="../../static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <a href="{{ url_for('user_bp.user_dashboard') }}" class="logo"><strong>MoviWeb</strong>
            <span>User Dashboard</span></a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a href="{{ url_for('user_bp.user_dashboard') }}">Home</a></li>
            <li><a href="{{ url_for('user_bp.my_movies') }}">My Movies</a></li>
            <li><a href="{{ url_for('user_bp.user_favorites') }}">My Favorites</a></li>
            <li><a href="{{ url_for('user_bp.user_add_movie') }}">Add Movie</a></li>
            <li><a href="{{ url_for('user_bp.user_profile') }}">Profile</a></li>
        </ul>
        <ul class="actions stacked">
            <li><a href="{{ url_for('logout') }}" class="button primary fit">Log Out</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- My Movies -->
        <section id="my-movies">
            <div class="inner">
                <header class="major">
                    <h2>My Movies </h2>
                        <a href="{{ url_for('user_bp.user_add_movie') }}" class="button">
                            Add Movie
                        </a>
                </header>
                <table>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Director</th>
                        <th>Year</th>
                        <th>Rating</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movie in movies %}
                    <tr>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.director.name }}</td>
                        <td>{{ movie.year }}</td>
                        <td>{{ movie.rating }}</td>
                        <td>
                            <form action="{{ url_for('user_bp.add_to_favorites', movie_id=movie.id) }}" method="post"
                                  style="display:inline;">
                                <button type="submit" class="button">Add to Favorites</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="https://x.com/?lang=en" class="icon brands alt fa-twitter"><span
                        class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
                </li>
                <li><a href="https://www.instagram.com/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
                </li>
                <li><a href="https://github.com/Vrana710" class="icon brands alt fa-github"><span
                        class="label">GitHub</span></a></li>
                <li><a href="https://www.linkedin.com/in/varsha-rana/" class="icon brands alt fa-linkedin-in"><span
                        class="label">LinkedIn</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; 2024</li>
                <li>Design: <a href="https://www.linkedin.com/in/varsha-rana/">By Varsha Rana</a></li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/jquery.scrolly.min.js"></script>
<script src="../../static/js/jquery.scrollex.min.js"></script>
<script src="../../static/js/browser.min.js"></script>
<script src="../../static/js/breakpoints.min.js"></script>
<script src="../../static/js/util.js"></script>
<script src="../../static/js/main.js"></script>

</body>
</html>
